@media screen and (min-width: 718px) and (max-width: 990px) {
    .restaurant-home-title {
        font-size: 5em;
    }

    .restaurant-about-picture {
        width: 40vw;
    }

    .restaurant-about-infos {
        width: 30vw;
    }

    #restaurant-about {
        flex-direction: row;
        align-items: center;
        height: 50vh;
    }


    .recipe {
        width: 35vw;
        margin: 0 auto;
        margin-bottom: 15% ;
    }

    .recipes-list {
        display: flex;
    }

    #restaurant-portfolio {
        margin-top: 0%;
    }


    .footer-nav-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-nav-item {
        padding-top: 10%;
        width: 20vw;
    }
}

@media screen and (min-width: 991px) and (max-width: 1300px) {
    .restaurant-home {
        width: 50vw;
        height: 20vh;
        margin: 0 auto;
        text-align: center;
        margin-top: 28vh
    }

    .restaurant-home-title {
        font-size: 7em;
        font-weight: 200;
    }

    .restaurant-home-description {
        font-size: 1.8em;
        font-weight: 200;
        width: 60vw;
        margin: 0 auto;
    }

    .restaurant-about-picture {
        width: 30vw;
    }

    .restaurant-about-infos {
        width: 30vw;
    }

    .restaurant-about-title {
        font-size: 5em;
    }


    #restaurant-about {
        flex-direction: row;
        align-items: center;
        height: 70vh;
    }

    #restaurant-signature {
        height: 60vh;
    }

    .restaurant-signature-title {
        font-size: 5em;
    }

    .recipe {
        width: 35vw;
        margin: 0 auto;
        margin-bottom: 15% ;
        font-size: 1.2em;
    }

    .recipes-list {
        display: flex;
    }

    #restaurant-portfolio {
        margin-top: 0%;
    }

    .general-informations {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 5%;
        padding-left: 10%;
    }

    .restaurant-info {
        width: 20vw
    }

    .footer-nav-items {
        width: 60vw;
        margin: none;
    }

    .footer-nav-subitem, .footer-nav-item-title {
        width: 15vw;
    }

    .footer-nav {
        display: flex; 
        align-items: center;
    }

    .footer-nav-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-nav-item {
        width: 15vw;
        padding-top: 0%;
    }
}